@import "tailwindcss";

@theme {
  --color-space-cadet: #2b2d42ff;
  --color-cool-gray: #8d99aeff;
  --color-antiflash-white: #edf2f4ff;
  --color-red-pantone: #ef233cff;
  --color-fire-engine-red: #d90429ff;
}
